<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/favicon.969f47677bd5.ico">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107304984-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-107304984-1');
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.d96a13a81b88.css" media="screen" title="no title" charset="utf-8">

    <title>arXiv Vanity – Read academic papers from arXiv as web pages</title>
    
  <meta name="description" content="Renders papers from arXiv as responsive web pages so you don't have to squint at a PDF.">


    <!-- start Mixpanel --><script type="text/javascript">(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
    0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
    for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
    MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
    mixpanel.init("84f8e700b4cf5e8ad68b553496eb72cf");</script><!-- end Mixpanel -->
  </head>
  <body>
    

    
  <div class="arxiv-vanity-wrapper">
    <div class="page-home">
      <div class="page-home-inner text-center">
        <p class="tagline">arXiv Vanity renders academic papers from <a href="https://arxiv.org/">arXiv</a> as responsive web pages so you don&rsquo;t have to squint at a PDF. <!-- <a href="/about/">Learn more.</a> --></p>
        <div class="d-none d-md-block">
          <form class="mt-5 mb-3" method="get" action="/convert/">
            <div class="input-group input-group-lg">
              <input type="text" name="query" value="" class="form-control" placeholder="Enter an arXiv URL" autofocus>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Convert to web page</button>
              </span>
            </div>
          </form>
        </div>
        <div class="d-md-none">
          <form class="mt-5 mb-3" method="get" action="/convert/">
            <div class="form-group">
              <input type="text" name="query" value="" class="form-control" placeholder="Enter an arXiv URL">
            </div>
            <button type="submit" class="btn btn-primary">Convert to web page</button>
          </form>
        </div>
        <p><small>For example, <a href="/papers/1710.07035/" class="home-example-paper">Generative Adversarial Networks: An Overview</a></small></p>
        <p class="bookmarklet"><small>To convert papers with one click, drag this bookmarklet to your bookmarks bar:</p><p><a href="javascript:(function(){window.location='https://www.arxiv-vanity.com/convert/?query='+encodeURIComponent(window.location)})()" class="btn btn-primary ml-1">arXiv to web page 💅</a></small></p>
      </div>
    </div>
  </div>


    <div class="arxiv-vanity-wrapper">
      <footer class="fixed">
        <div class="container mb-3">
          <span>Built by <a href="https://github.com/andreasjansson">Andreas Jansson</a> and <a href="https://twitter.com/bfirsh">Ben Firshman</a>, with help from <a href="http://dlmf.nist.gov/LaTeXML/">LaTeXML</a>.</span>
          <span><a href="https://github.com/arxiv-vanity">Contribute on GitHub.</a></span>
          <span><a href="/papers/">Latest papers.</a></span>
        </div>
      </footer>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="/static/js/main.7dd06b524c82.js"></script>
    
<script>
  var HOME_EXAMPLE_PAPERS = [
    {"id": "1710.07035", "title": "Generative Adversarial Networks: An Overview"},
    {"id": "1708.00884", "title": "Efficient Fingerprint Extraction and Matching Using Smartphone Camera"},
 ];
  (function() {
    var example = HOME_EXAMPLE_PAPERS[Math.floor(Math.random() * HOME_EXAMPLE_PAPERS.length)];
    var exampleEl = document.querySelector(".home-example-paper");
    exampleEl.setAttribute("href", "/papers/" + example.id + "/");
    exampleEl.innerHTML = example.title;
  })();

  mixpanel.track("View Home Page");
</script>


  </body>
</html>
